<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<mvc:resources mapping="/resources/**" location="/resources/"
				   cache-period="31556926"/>

	<mvc:resources mapping="/fonts/**" location="/fonts/"
				   cache-period="31556926"/>
	<mvc:annotation-driven />

	<context:component-scan base-package="fr.humanbooster.ideanoval" />

	<!-- DaoImplementations -->
	<bean id="ideaDao" class="fr.humanbooster.ideanoval.dao.impl.IdeaDaoImpl">
		<constructor-arg ref="sessionFactory"/>
	</bean>

	<bean id="userDao" class="fr.humanbooster.ideanoval.dao.impl.UserDaoImpl">
		<constructor-arg ref="sessionFactory"/>
	</bean>

	<bean id="categoryDao" class="fr.humanbooster.ideanoval.dao.impl.CategoryDaoImpl">
		<constructor-arg ref="sessionFactory"/>
	</bean>

	<bean id="commentDao" class="fr.humanbooster.ideanoval.dao.impl.CommentDaoImpl">
		<constructor-arg ref="sessionFactory"/>
	</bean>

	<bean id="voteDao" class="fr.humanbooster.ideanoval.dao.impl.VoteDaoImpl">
		<constructor-arg ref="sessionFactory"/>
	</bean>

	<!-- Business -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>fr.humanbooster.ideanoval.business.Category</value>
				<value>fr.humanbooster.ideanoval.business.Comment</value>
				<value>fr.humanbooster.ideanoval.business.Idea</value>
				<value>fr.humanbooster.ideanoval.business.Role</value>
				<value>fr.humanbooster.ideanoval.business.User</value>
				<value>fr.humanbooster.ideanoval.business.Vote</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<!-- Server -->
	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource"
		destroy-method="close">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />

		<property name="url"
			value="jdbc:mysql://localhost:3306/ideanoval" />
		<property name="username" value="root" />

		<!-- Configuration pool -->
		<property name="validationQuery" value="SELECT 1" />
		<property name="validationInterval" value="34000" />
		<property name="testOnBorrow" value="true" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="55" />
	</bean>

	<!-- Resolvers -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean
			class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>
